<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
<script src="{% static "js/jquery-3.3.1.js" %}" ></script>
<script>
  $(document).ready(function(){
    //var valuelist = '';
    
    $("#start_filter").click(function() {
      var conditions = {}
      var valuelist = $("input:checkbox[class=con-checkbox]:checked").map(function(){
        return $(this).attr('id');
      }).toArray();
      jQuery.each(valuelist, function(key, value){
        var condition = value.split('-')[1];
        $('[id^=' + condition + '-]').each(function(){
          conditions[$(this).attr('id')] = $(this).val();
        });
      });
      conditions['date'] = $('#date').val();
      $('#FilterResult').load('/filter/start_filter/', conditions, function(){

      });
      //$.post('/filter/start_filter/', {'date':$('.date').val(), conditions}).done(function(jData) {

          //$('.yis_dataDate').html(jData.dataDate);
          //$('.yis_notes').html(jData.notes);
      //});
    });
  });
</script>
<style type="text/css">
  .dateCnt{width:50px;}
  .percentCnt{width: 50px;}
</style>
</head>
<body>
<div class="condition">
  <!--form action="/filter/start_filter/" method="POST"-->
  {% csrf_token %}
  <td><input id="start_filter" type="submit" value="選股王"></td>
  <fieldset>
    <legend>Date</legend>
    <table class="conditionTable">
      <tr>
        <td>篩選日期:<input type="text" name="date" id="date" style="width:100px"/></td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend>營收</legend>
      <table class="conditionTable">
        <tr>
          <td>
            <input type="checkbox" name='checkbox' id='con-m_revenue_yoy' class="con-checkbox" />
            過去
            <input type="search" id="m_revenue_yoy-cnt" class="dateCnt" style="width:50px"/>
            個月內有
            <input type="search" id="m_revenue_yoy-matchcnt" class="dateCnt"/> 個月 營收年增率
            <input type="search" id="m_revenue_yoy-timetype" style="display:none;" value="month"/> 
            大於
            <input type="search" id="m_revenue_yoy-value"  placeholder="" class="percentCnt" /> (%)
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="con-m_revenue_avg_yoy" class="con-checkbox" />
            過去
            <input type="search" id="m_revenue_avg_yoy-cnt" class="dateCnt"/> 
            個月 營收平均年增率大於 
            <input type="search" id="m_revenue_avg_yoy-value"  placeholder="" class="percentCnt"/> (%)
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name='checkbox' id='con-s_revenue_yoy' class="con-checkbox" />
            過去
            <input type="search" id="s_revenue_yoy-cnt" class="dateCnt" style="width:50px"/>
            季內有
            <input type="search" id="s_revenue_yoy-matchcnt" class="dateCnt"/> 季 營收年增率
            <input type="search" id="s_revenue_yoy-timetype" style="display:none;" value="season"/> 
            大於
            <input type="search" id="s_revenue_yoy-value"  placeholder="" class="percentCnt" /> (%)
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" id="con-s_revenue_avg_yoy" class="con-checkbox" />
            過去
            <input type="search" id="s_revenue_avg_yoy-cnt" class="dateCnt"/> 
            季 營收平均年增率大於 
            <input type="search" id="s_revenue_avg_yoy-value"  placeholder="" class="percentCnt"/> (%)
          </td>
        </tr>
    </table>
  </fieldset>
  </form>

<fieldset>
<legend>財務比率 - 季</legend>
  <table class="conditionTable">
    <tr>
      <td>
        <input type="checkbox" id="con-opm_s" class="con-checkbox" />
        連續 <input type="search" id="opm_s-cnt" class="dateCnt"/> 季
        營益率大於 <input type="search" id="opm_s-value" class="dateCnt"/> (%)
      <td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="con-gpm_s" class="con-checkbox" />
        連續 <input type="search" id="gpm_s-cnt"  class="dateCnt"/> 季
        毛益率大於 <input type="search" id="gpm_s-value"  class="dateCnt"/> (%)
      <td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="con-gpm_s_gtn_pre_avg" class="con-checkbox" />
      毛利率大於前 <input type="search" id="gpm_s_gtn_pre_avg-cnt"  class="dateCnt"/> 季平均</td>
    </tr>
  </table>  
</fieldset>

<legend>籌碼</legend>
<fieldset>
  <table class="conditionTable">
    <tr>
      <td>
        <input type="checkbox" id="con-chip_flow" class="css-checkbox" />
        <label for="con-chip_flow" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
      </td>
      <td>
        連續 <input type="text" id="chip_flow-cnt" class="dateCnt"/>月
      <td>
      <td>
        大戶比例增加 <input type="text" id="chip_flow-value"  placeholder=""/> %
      <td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="con-corp_over_buy" class="css-checkbox" />
        <label for="con-corp_over_buy" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
      </td>
      <td>
        連續 <input type="text" id="corp_over_buy-cnt" class="dateCnt"/>天
      <td>
      <td>
        買超大於 <input type="text" id="corp_over_buy-value"  placeholder=""/> (張)
      <td>
    </tr>
  </table>  
</fieldset>
<fieldset>
  <legend>殖利率</legend>
    <table class="conditionTable">
    <tr>
      <td>
        <input type="checkbox" id="con-yield_rate" class="css-checkbox" />
        <label for="con-yield_rate" name="checkbox17_lbl" class="css-label dark-check-cyan"></label>
      </td>
      <td>
        連續 <input type="text" id="yield_rate-cnt"  class="dateCnt"/> 年
      <td>
      <td>
        現金殖利率大於 <input type="text" id="yield_rate-value"  placeholder=""/> (%)
      <td>
    </tr>
  </table>
</fieldset>

</div>
<div id="FilterResult" class="condition"></div>

</div>
</body>
</html>